html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.container {
max-width: 1140px;
padding: 0 15px;
margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.breadcrumbs {
   
    a {
        color: #fff;
    }
    &__inner {
        padding: 45px 0px 40px;
        overflow: hidden;
        //width: 1200px;Спитати нашо
        text-align: center;
    }
    &__list {
        li {
            position: relative;
            display: inline-block;
            & + li {
                padding-left: 24px;
                &::before {
                    content: "/";
                    position: absolute;
                    left: 8px;
                    color: #fff;
                }
            }
            &:last-child {
                a,
                span {
                    color: #bfcad7;
                }
            }
        }
    }
}