@import "vars";
@import "global";
@import "fonts";

.header__top {
    background-color: #eef1f3;
    padding: 25px 0;
    margin-bottom: 16px;
    &-logo {
        margin-left: 7px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-btn a {
        color: #fff;
        background-color: $blue;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 28px;
        margin-right: 35px;
    }
    &-icons {
        ul {
            display: flex;
            align-items: center;
        }
        li {
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
            align-items: center;
        }
    }
    &-avatar {
        display: flex;
        align-items: center;
        span {
            background-color: #7c7979;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: block;
            margin: 0 20px 0 28px;
        }
    }
    &-username a {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        color: #333333;
        margin-bottom: 5px;
    }
    &-usermoney a {
        color: $blue;
        font-size: 15px;
        line-height: 22px;
    }
}
.header__bottom {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
    }
    &-menu {
        display: flex;
        justify-content: space-between;

        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 50px;
            color: #333333;
            text-transform: uppercase;
        }
        li + li {
            margin-left: 30px;
        }
    }
    &-search {
        position: relative;
    }
    &-form {
        color: #898f96;
        font-size: 15px;
        line-height: 30px;
        padding: 8px 25px;
        width: 365px;
        max-width: 360px;
        border-radius: 50px;
        border: 1px solid #d9dfe5;
    }
    &-btn {
        position: absolute;
        right: 0px;
        top: 1px;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
    }
}
.banner__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // max-height: 100vh;
    // height: 100vh;
}

.banner__wrapper {
    text-align: center;
    padding-top: 170px;
    position: relative;
    &-title {
        color: #f3f3f8;
        font-size: 60px;
        line-height: 70px;
    }
    &-text {
        color: #f3f3f8;
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
    }
    &-descr {
        color: #f3f3f8;
        font-size: 20px;
        line-height: 70px;
        font-weight: 500;
        padding-bottom: 70px;
    }
    &-btn a {
        font-size: 16px;
        line-height: 60px;
        color: #fff;
        border: 1px solid #fff;
        padding: 0 36px;
        border-radius: 50px;
        margin-left: 30px;
        transition: all 0.3s;
    }
    &-btn a:hover {
        color: $blue;
        background-color: #fff;
    }

    &-btn {
        padding-bottom: 230px;
    }
}
.banner__bottom {
    &-items {
        max-width: 1140px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: space-between;
        padding: 40px 42px;
        border-radius: 6px;
        margin-bottom: 100px;
        position: absolute;
        top: -70px;
        z-index: 10;
    }
    &-items::before {
        content: "";
        max-width: 1080px;
        width: 100%;
        background-color: #fff;
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        padding: 40px 42px;
        border-radius: 6px;
        top: -15px;
        position: absolute;
        z-index: 1;
        left: 15px;
    }
    &-items::after {
        content: "";
        max-width: 1064px;
        width: 100%;
        background-color: #fff;
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        padding: 40px 42px;
        border-radius: 6px;
        top: -30px;
        position: absolute;
        z-index: 1;
        left: 23px;
    }

    &-search {
        border: none;
        font-size: 16px;
        line-height: 42px;
        max-width: 580px;
        width: 580px;
        padding: 5px 27px;
    }
    &-dropdown {
        border: none;
        font-size: 16px;
        line-height: 42px;
        border-left: 1px solid #dcdcdc;
        padding: 5px 75px 5px 18px;
    position: relative;
    }
        &-dropdown::after{
            content: '';
            height: 8px;
            width:13px ;
            background-image: url(../images/icons/chevron-down.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 22px;
            right: 20px;
        }
    
    &-inner {
        position: relative;
    }
    &-form {
        display: flex;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        // max-width: 800px;
        // width: 100%;
        // justify-content: space-between;
    }
    &-btn {
        font-size: 16px;
        line-height: 42px;
        border: none;
        color: #fff;
        background-color: $blue;
        padding: 0 68px;
        border-radius: 5px;
        z-index: 2;
    }
}
